@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .3) /* 4th value is opacity */
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: darksalmon;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}

.btn1 {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: maroon;
    background: black;
}